[Desktop Entry]
Version=0.1
Type=Application
Exec=chirpw %F
Icon=chirp.png
StartupNotify=true
Terminal=false
Categories=Application;HamRadio
MimeType=inode/directory
Name=CHIRP
Comment=CHIRP Radio Programming Tool
GenericName=CHIRP Radio Programming Tool
Keywords=Hamradio;Programming;Handheld;Radio;Amateur;Programmer
NoDisplay=true
